<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <span class="title-text">Natural Question Answering</span>
                <br />
                <br />
                <br />
                <div class='content'>
                    <form>
                        <label for="article">
                          <textarea id="article-text" name="ArticleBox" cols="110" rows="25" placeholder="Enter your article"></textarea>
                        </label>
                        <label for="question">
                          <textarea id="question-text" name="QuestionBox" cols="40" rows="25" placeholder="Enter your question from the article"></textarea>
                        </label>
                    </form>
                    <div class='answer'>
                        <button id='answer-button' class='answer-button' type='button' onclick='answer()'>Answer</button>
                    </div>
                    <div class='answer-label'>
                        <label id='answer-label'></label>
                    </div>
                </div>
            </div>
            <div class='left'>
                <h6><u>References:</u></h6>
                <ul style="list-style-type:disc;">
                <li style="font-size:10px";><a href="https://www.kaggle.com/c/tensorflow2-question-answering">Tensorflow 2.0 Question Answering competition on Kaggle</a></li>
                <li style="font-size:10px";><a href="https://www.kaggle.com/seesee">seesee's</a> amazing <a href="https://www.kaggle.com/c/tensorflow2-question-answering/discussion/127333">solution</a></li>
                <li style="font-size:10px";><a href="https://course.fast.ai/deployment_google_app_engine.html"> Fastai docs on deployment</li>
                </ul> 
            </div>
        </div>
    </body>
</html>
