<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <span class="title-text">Natural Question Answering</span>
                <div class='content'>
                    <form>
                        <textarea id="article-text" name="ArticleBox" cols="100" rows="20" placeholder="Enter your article"></textarea>
                        <br />
                        <!-- <input id="article-text" placeholder="Enter your article"> -->
                    </form>
                    <form>
                        <textarea id="question-text" name="QuestionBox" cols="50" rows="10" placeholder="Enter your question"></textarea>
                        <br />
                        <!-- <input id="question-text" placeholder="Enter your question"> -->
                    </form>
                    <div class='answer'>
                        <button id='answer-button' class='answer-button' type='button' onclick='answer()'>Answer</button>
                    </div>
                    <div class='answer-label'>
                        <label id='answer-label'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
